:root{
    --text-color: rgb(240, 240, 240);
    --background-dark: rgba(26, 33, 43, 0.8);
    --background-color: rgba(26, 33, 43, 0.5);
    --accent-color: orange;
    --accent-color2: darkorange;
    --accent-color3: rgb(255, 217, 0);
}

*{
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-image:url('background_puppy.jpg');
    height: 100vh;
    background-position: right 10% bottom 45%;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

nav {
    padding: 2vh 2vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px white;
    font-size: 20px;
}

.logo{
    margin-left: 1.5vw;
}

.logo i{
    color:var(--accent-color);
}

.today{
    display: flex;
    list-style:none;
    padding-left:0;
}

.today li{
    padding:1vh 1.5vw;
}

.today li:hover{
    background-color:var(--accent-color);
    border-radius: 0.5vw;
}

.socialmedia{
    list-style: none;
    color:var(--text-color);
    display:flex;
}

.socialmedia li{
    padding: 1vh 1.5vw;
}

.togglebtn{
    position:absolute;
    display:none;
    right:3vw;
    color:var(--accent-color);
}

main{
    display: flex;
    justify-content: flex-start;
}

main form{
    position: absolute;
    top:17vh;
    right:3vw;
    display: flex;
}

main form:hover input{
    border-bottom: 2px solid var(--text-color);
}

main form input{
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color:var(--text-color);
}

main form button{
    font-size: 19px;
    background-color: transparent;
    border: none;
    color:var(--text-color);
    margin-left:0.5vw;
}

.sectitle{
    position: relative;
    width:28vw;
    margin: 0vh 2.5vw;
    margin-top:4vh;
    color:var(--text-color);
    border-bottom: 0.4vh solid transparent;
    display: flex;
}

.sectitle>i{
    position: absolute;
    right:2vw;
    line-height: 11vh;
    font-size:20px;
    visibility: hidden;    
}

.sectitle:hover {
border-bottom: 0.4vh solid var(--accent-color)!important;
cursor: pointer;
transition: all 0.5s;
}

.sectitle:hover.sectitle>i{
    visibility:visible!important;
    transition: all 0.5s;
    }

.sectitle>div:nth-child(1){
    line-height: 10vh;
    margin: 0 1vw;
}

.sectitle>div:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -0.6vw;
}

.sectitle>div>div{
    width:55px;
    height:6.5vh;
    text-align: center;
}

.sectitle>div>div:nth-child(2){
    font-size: 16px;
    height:unset;
    margin-top: -0.7vh;
}

.icon img{
    width:100%;
    height:100%;
}

.seccontent{
    width:28vw;
    max-height:0;
    font-size: 16px;;
    overflow: auto;
    margin: 0 2.5vw;
    margin-top: 0vh;
    color:var(--text-color);
    line-height: 8vh;
    background-color: var(--background-dark);
    border-radius:1vh;
}

.seccontent ul{
    margin-left:3vw;
}

.seccontent ul li{
    width:90%;
    word-break:break-all;
    line-height: 25px;
    margin: 1.5% 0;
}

#seccontent1 ul li:last-child{
    list-style: none;
    color: indianred;
}

.seccontent div{
    display: flex;
    justify-content: center;
    padding: 2% 2%;
}

#seccontent2 ul li {
    list-style: none;
    margin-left: -1.5vw;
    width:100%;
    position:relative;
}

#seccontent2 ul li.stickynote {
    list-style: none;
    margin-right:7.3%;
    margin-left:-4.8%;
    margin-top:3vh;
    width: 29%;
    min-height: 85px;
    position:relative;
    background: linear-gradient(var(--accent-color2), var(--accent-color));
    padding: 0.1vh 0.2vw;
    display:inline-block;
    word-break:break-all;
    vertical-align: top;
    box-shadow: 0.2vh 0.2vw 0.8vw black;   
}

#seccontent2 ul li.stickynote:before {
    content: "";
    transition: border-width 0.5s ease-in-out;
    border-style: solid;
    border-color:var(--accent-color3) rgba(30, 30, 30, 0.8);
    transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.6);
}

#seccontent2 ul li.stickynote:hover:before {
    border-width: 30px 30px 0 0;
}

#seccontent2 ul li i{
    float:right;
    margin-top:7px;
    visibility: hidden;
}

#seccontent2 ul li i:hover{
    color:var(--text-color);
}

#seccontent2 div input{
    width:80%;
}

#seccontent2+span{
    margin-left:3vw;
    font-size: 15px;
    color:var(--text-color);
    visibility: hidden;
}

input+button{
    width:12.5%;
}

.checkbox {
    margin-right:0.8vw;
}

main>i{
    position: absolute;
    left:3vw;
    bottom:5vh;
    color:var(--text-color);
    transform: rotateY(-90deg);
    transform-origin:left;
    transition: transform 0.5s ease;
}

main>i span{
    font-family: 'Source Sans Pro', sans-serif;
}

main>i.spin{
    transform: rotateY(0deg);
    transform-origin:left;
    transition: transform 0.7s ease;
}

.clockframe{
    color:var(--text-color);
    position:absolute;
    bottom:9vh;
    left:3vw;
    text-align: center;
    background-color:  rgba(26, 33, 43, 0.6);
    border-radius: 1vh;
    padding: 0 3vw;
    transform: rotateY(0deg);
    transform-origin:left;
    transition: transform 0.7s ease;
    font-size: 16px;
}

.clockframe, main>i:hover{
    cursor: pointer;
}

.clockframe.spin{
    transform:perspective(100px) rotateY(90deg);
    transform-origin:left;
    transition: transform 1s;
}

.clockframe span{
    font-size: 12px;
    margin:0;
}

#clock{
    font-size:26px;
    display: flex;
    padding:5px;
}

#clock div{
    padding:0 0.3vw;
    color:transparent;
    border: 1px solid transparent;
}

#clock div.show{
    background-color:  rgba(26, 33, 43, 0.7);
    border: 1px solid var(--text-color);
    color:var(--text-color);
}

#clock div.rotate{
    transform: perspective(110px) rotateX(-360deg);
    transform-origin: top;
    transition: transform 2s ease;
}

.clockframe i{
    position:absolute;
    right:0.3vw;
    bottom:0.2vh;
    margin:0.1vw;
}

.clockframe i:hover{
    color:var(--accent-color3);
}

.setting{
    color:var(--text-color);
    text-align: right;
}

.setting>div{
    position: absolute;
    bottom:8vh;
    right:3vw;
}

.setting i{
    position: absolute;
    bottom:4vh;
    right:3vw;
}

.setting i:hover{
    cursor: pointer;
}

.setting div div{
    text-align: left;
    background-color: rgba(26, 33, 43, 0.6);
    border-radius: 1vh;
    font-size: 16px;
    margin-bottom: 0.5vh;
    padding: 1.5vh 1.5vw;
    visibility:collapse;
}

@media screen and (max-width:768px){

    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 1vh 3vw;
    }

    .today{
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .today li{
        width:100%;
        text-align: center;
    }

    .socialmedia{
        justify-content: center;
        width:100%;
        padding-left:0;
        display:none;
    }

    .togglebtn{
        display:block;
    }

    .today.active, .socialmedia.active{
        display: flex;
    }    

    main{
        display: flex;
        flex-direction: column;
    }

    main form{
        position: unset;
        padding: 2vh 1vw;
        justify-content: flex-end;
    }

    .sectitle{
        width:auto;
    }    

    .seccontent{
        width:auto;
        padding: 0 3vw;
    }

    #seccontent2 ul li.stickynote {
        margin-left: -1%;
        margin-right:3%;
        padding:1% 1%;
    }

    main>i{
        position:unset;
        margin-top:3.8vh;
        margin-left:3vw;
    }

    .clockframe{
        position:unset;
        margin: 0 2.5vw;
    }

    .clockframe.spin{
        height: 0;
    }

    #clock{
        display: flex;
        justify-content:center;
        padding-right: 2.5vw;       
    }


    #clock div{
        padding:0 1vw;
    }

    .setting{
        text-align: left;
        padding: 2vh 0vw;
    }

    .setting>div{
        position:unset;
        text-align: left;
        margin: 2vh 2.5vw;
    }

    .setting i{
        position:unset;
        margin-left: 2.8vw;
    }
}




