@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#loading {
  width: 100%;   
  height: 100%;   
  top: 0px;
  left: 0px;
  position: fixed;   
  display: block; 
  background-color: white;
  z-index: 99; 
}  

#loading_image {   
  position: absolute;
  top: 50%;   
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100; 
}

:root{
  --text-black: rgb(70, 75, 80);
  --text-white: rgba(255, 255, 255, 0.8);
}

*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

a{
  color:white;
  text-decoration: none;
}

a:hover{
  color:white;
}

#wrapper{
  overflow-x: hidden;
}

#mouseFollower{
  position: absolute;
  top:50vh;
  left:53vw;
  font-size: 22px;
  color:orange;
  z-index:20;
  visibility: collapse;
  text-align: center;
  transition: all 0.5s;
  transform-origin: 50% -200%;
  animation:swing 0.8s ease-in-out Infinite Alternate; 
}

@keyframes swing {
    0% { transform: rotate(30deg); }
    to { transform: rotate(-30deg); } 
  }

nav{
  position: fixed;
  top:0;
  width:100%;
  display:flex; 
  justify-content: space-between;
  transition: transform 1.5s;
  z-index:10;
}

.navColor1{
  background-color: rgb(65, 87, 254);

}

.navColor2{
  background-color:hsl(210, 11%, 71%);
}

nav>ul{
  display:flex;
  justify-items: left;
  list-style: none;
  margin:0;
  margin-right: 30px;
}


nav>ul li{
  margin: 5px 10px;
  padding:5px 10px;
  font-size: 18px;
  transition: transform 0.5s ease;
  background-color: black;
  border-radius: 10px;
  color:white;
}

nav>ul li:hover{
  transform: scale(1.3);
  cursor: pointer;
}

.navClosebtn{
  display:none;
  margin-right:-20px;
}


.navSecondul li i{
  color:white;
}

.togglebtn{
  position:absolute;
  display:none;
  right:20px;
  top:8px;
  font-size: 18px;
  color:white;
  background-color: black;
  border-radius: 10px;
  padding:5px 10px;
}

.movePoint{
  position:relative;
  top:-20vh;
  margin:0;
}

/* landPage ==================================== */
#landContainer{
  background-color: black;
  padding:0;
  margin:0;
}

#landPage{
  width:100vw;
  padding:0 4% 0 0;
  background-color: black;
  margin-left: auto;
  margin-right:auto;
}

#landPage section{
  padding: 0;
  margin:0;
}

#landPage section>div{   /* frame  */
  position:relative;
  margin:0;
  height:50vh;
  perspective: 1000px;
}

.cube{  /* cube */
  margin:0;
  width:100%;
  height:100%;
  position:relative;
  transform: translateZ(-20vw) rotateY(-90deg);
  transform-style:preserve-3d;
  transition: all 1s ease-in-out;
}

.cube>div{  /* one face of cube */
  position:absolute;
  top:0;
  left:0;
  margin:0;
  width:100%;
  height:100%;
  transition: all 0.5s ease-in-out;
  backface-visibility:hidden;
}

.cube>div:hover{ 
  cursor:pointer;
}

.cube>div:hover img{ 
  filter:brightness(0.6);
}

.cube img{
  width:100%;
  height:100%;
}

.front  { transform: rotateY(0deg) translateZ(20vw); }
.left   { transform: rotateY(-90deg) translateZ(20vw); }
.left  img { filter:invert(1); }
.back   { transform: rotateY(-180deg) translateZ(20vw); }
.right  { transform: rotateY(-270deg) translateZ(20vw);  }

.cube>div span{
  position:absolute;
  color:rgb(245, 245, 245);
  padding:0 5px;
}

.cube>div span h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.cube>div span h5{
  font-style: italic;
}

.cube>div:nth-child(2) span, .cube>div:nth-child(4) span{
  background-color: black;
  width:100%;
}

#landPage section:nth-child(1) .cube>div span{
  text-align: right;
  right:0;
  bottom:0;
  padding-left: 3px;
} 

#landPage section:nth-child(2) .cube>div span{
  text-align: left;
  left:0;
  bottom:0;
  padding-right: 3px;
} 
#landPage section:nth-child(3){
  transform: translateX(-0.2vw);
  background-color: black;
}

#landPage section:nth-child(4) .cube>div span{
  text-align: right;
  right:0;
  top:0;
  padding-left: 3px;
} 

#landPage section:nth-child(5) .cube>div span{
  text-align: left;
  left:0;
  top:0;
  padding-right: 3px;
} 

#landPage section:nth-child(6){
  transform: translateX(-0.2vw);
  background-color: black;
}

#resume{
  background-color: orange;
  padding:3px 10px;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
  color:black;
  vertical-align:middle;
}

#resume:hover{
  transform: scale(1.5);
  color:white;
}

#landPage section:nth-child(5) span{
  font-size:16px;
}

#landPage section button{
  
  border:none;
  padding:15px 0 ;
  text-align: right;
  background-color: transparent;
  width:100%;
} 

#landPage section button a{
  text-decoration: none;
  color: rgb(51, 133, 255);
}

#landPage section button a:hover{
  filter:brightness(0.7);
}

#landPage section i{
  color:orange;
}

#landPage section .cube>div span h2 div{
  position: relative;
  font-size: 10px;
  display: inline-block;
  padding-left:8px;
  color:rgb(115, 115, 115);
  transition: all 0.5s;
}

#landPage section .cube>div span h2:hover div{
  transform:scale(1.2);
  color:white;
  padding-left:13px;
}

/* chartPage =================================================== */
#chartPage{
  display: flex;
  justify-content: center;
  background-color: rgb(248, 249, 250);
  padding: 170px 20px 200px 20px;
  color:var(--text-black);
  text-align: center;
}

#chartPage section div{
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 5px 5px 10px gray;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#frontskill, #backskill, #plusskill{
  position:relative;
  overflow: hidden;
  font-size: 20px;
}

#frontskill:hover, #backskill:hover, #plusskill:hover{
  cursor:pointer;
  background-color: rgb(230, 255, 255);
}

#chartPage section div i:first-child{
  color:rgb(65, 87, 254);
  padding-top:4px;
  transition:all 0.5s;;
}

#chartSpider{
  position:absolute;
  right:40px;
  top:-120px;
  height:155px;
  transform: rotate(180deg);
  color:rgba(75, 0, 130, 0.8);
  text-shadow: -1px -10px 4px lightgray;
  animation:updown 1.8s ease-in-out Infinite Alternate; 
  transition: all 1s;
}

#chartPage p{
  margin-top: 30px;
  font-size: 20px;
  padding:0 5px;
}

#chartPage p span{
  font-size: 14px;
  font-style: italic;
}
  
#chartPage section div div{
  border-radius: 0;
  box-shadow: none;
  width:47%;
  margin:0;
}

#chartPage section:last-child div {
  position:relative;
  display: flex;
  justify-content: center;
}

#chartPage section:last-child p{
  position:relative;
  width:32px;
  height:32px;
  margin:12px 27px;
  padding:0;
}

#chartPage section:last-child img{
  transition: transform 0.2s ;
  width: 100%;
  height: 100%;
}

#chartPage section:last-child img:hover{
transform: scale(1.8)!important;
}

#chartPage section:last-child img:hover +span{
  visibility: visible!important;
  }

#chartPage section:last-child p span{
  position:absolute;
  width:75px;
  height:38px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  padding:2px;
  color:white;
  font-size: 12px;
  transform:translateX(-70%) translateY(-150%); 
  visibility: hidden;
  text-align: center;
}

#chartPage section:last-child p span:after {
  border-top:10px solid rgba(0, 0, 0, 0.85);
  border-left: 10px solid transparent;
  content:"";
  position:absolute;
  top:37px;
  left:5px;
} 

/* webPages =================================================== */
#webPages {
  background-image: url('../index_img/blackcircle.jpg');
  background-position: left 1% top 50%;
  padding:200px 5vw;
  display: flex;
  justify-content: center;
  border-top:3px black solid;
  border-bottom:3px black solid;
  transition: all 2s;
  text-align: center;
}

#webPages section{
  position: relative;
  display: flex;
  justify-content: center;
  /* border:1px solid white; */
}

#webPages section button {
  padding: 0 15px;
  padding-bottom: 20px;
  border: none;
  background-color: transparent;
  color:var(--text-white);
  font-size: 18px;;
}

#webPages section:nth-child(2) i {
  color: orange;
  font-size: 18px;
  position:absolute;
  top:32px;
  margin-left:52px;
  transition:all 1s;
  transform-origin: 50% -300%;
  animation:swing 1.5s ease-in-out Infinite Alternate; 
}


#webPages section button:hover {
  color:white;
  text-shadow: 0 0 1vh white, 0 0 2vh white, 0 0 5vh white, 0 0 7vh lemonchiffon, 0 0 9vh lemonchiffon, 0 0 11vh lemonchiffon;
}

#webPages section>div{  /* frame */
  
  border:1px solid var(--text-white);
  padding:0;
  margin: 10px 0;
  border-radius: 10px;
  height:230px;
  width:330px;
  overflow: hidden;
  position: relative;
}

#webPages section>div>div{
  padding:0;
  margin-top:-168px;  
  transition: all 0.8s;
}

#webPages section>div>div img{
  margin-top:10px;
  width: 94%;
  transition: all 0.5s;
}

#webPages section img:hover{
  filter:brightness(0.5);
}

#webPages section>div>div p{
  font-size: 18px;
  color:rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 3px 0;
  margin-top:10px;
}

#webPages section>div>div p span{
  font-size: 14px;
}

#webPages section div>div h6{
  text-align: left;
  color:orange;
  padding-left: 20px;
}

#webPages section>div>div ul{
  margin:0;
  padding:0;
}   

#webPages section>div>div ul li{
  color:rgba(255, 255, 255, 0.7);
  list-style:disc;
  font-size: 14px;
}  

#webPages section>div i{
  position: absolute;
  padding:10px;
  right:-6px;
  bottom:-7px;
  font-size: 18px;
  padding:15px;
  color:rgba(255, 255, 255, 0.6);
}

#webPages section>div i:nth-child(3){
  color:orange;
  right:-7px;
  bottom:15px;
  transition: all 1s;
  animation:rolling 0.5s Infinite Alternate; 
}

@keyframes rolling {
  0% { transform: skew(8deg) ; }
  to { transform: skew(-8deg) ; } 
}

#webPages section:nth-child(3)>div i:nth-child(2){
  animation:rotation_i 3.8s linear infinite;
  z-index:10;
  transform: scale(1.8);
  transition: transform 1s;
}

@keyframes rotation_i {
  100% {
    transform: scale(1.8) rotate(360deg);
  }
}

#webPages section>div i:nth-child(2):hover{
  color:rgb(255, 255, 255);
  cursor: pointer;
}

#webPages section>p{
  color:var(--text-white);
  margin-top:10px;
  font-size:13px;
  font-style: italic;
}

/* summaryWheel 1st ==================================== */
#summaryWheel{
  padding: 200px 50px 40px 50px;
}

#summaryWheel section:nth-child(2){
  padding:100px 0;
  margin-top:40px;
}

#summaryWheel section:nth-child(3){
  padding:20px 40px 50px 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  color:var(--text-black);
}

#summaryWheel section:nth-child(3) a{
  color:rgb(13, 110, 253);
  text-decoration:underline;
}

#summaryWheel section:nth-child(3) h6{
  font-style: italic;
}

.cards{
  position: absolute;
  top:-46%;
  left:50%;
  transform-origin: 50% 240%;
  color:white;
  transform: translateX(-50%) rotate(0deg);
  background-color: rgba(0, 0, 0, 0.4);
  width:28%;
  height:40%;
  border-radius: 5px;
  transition: transform 1.5s;
  border:none;
  opacity: 0.5;
}

.cards:hover{
  color:black;
  opacity: 0.7;
}

.dial{
  position:relative;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%); 
  width:170px;
  height:170px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  border:1px solid lightgray;
}

.dial span{
  position:absolute;
  top:50%;
  left:50%;
  font-size: 20px;
  font-weight: bolder;
  padding:10px 20px;;
  transform: translateX(-50%) translateY(-50%) perspective(100px) rotateY(-30deg);
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.5s;
  border-radius: 5px;
  color:white;
  opacity: 0.5;
}

.dial span:hover{
  color:black;
  opacity: 0.7;
  cursor: pointer;
}

#summaryWheel i{
  font-size:18px;
  color: silver;
}

#summaryWheel i:nth-child(3){
  position:absolute;
  left:25px;
  top:100px;
  transform-origin: 50% -400%;
  transform: perspective(200px);
  color:rgba(75, 0, 130, 0.8);
  animation:backandforth 1.8s ease-in-out Infinite Alternate; 
  transition: all 2s;
}

@keyframes backandforth {
  0% { transform: perspective(200px) rotateX(-15deg); 
       text-shadow: 0px 35px 10px gray; }
  50% {text-shadow: 0px 20px 6px gray; }
  to { transform: perspective(200px) rotateX(45deg);
       text-shadow: 0px 35px 20px white;}
}

.form-group{
  padding:10px 0;
}

.form-control{
  margin-bottom: 10px;
}

#summaryWheel form button{
  position: absolute;
  right:60px;;
  color:white;
  transition: all 0s;
}

/* summaryCards ==================================== */
#summaryCards{
  padding:0 50px 100px 50px;
  transform-style: preserve-3d;
  transform: perspective(750px) rotateY(180deg);
  transition: all 1.5s ease;
}

#summaryCards h5{
  padding:8px 8px;
  border-radius: 5px;
  text-align:right;
  transition: all 1.5s ease;
  background-color: rgba(0, 0, 0, 0.2);
  transform: perspective(750px) rotateY(-180deg);
  margin:0;
}

#summaryCards h5 span{
  width:110px;
}

.gototop{ /* go to top button================================= */
  position: fixed;
  right:10px;
  bottom:15px;
  background: transparent;
  border-radius: 3px;
  padding:3px;
  border:2px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

.gototop:hover{
  color:white;
  background-color: rgb(128, 128, 128);
}

footer .row{ /* footer  ==================================== */
  position: relative;
  margin-top:80px;
  padding:60px 50px 20px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  background: url(../index_img/blackcircle.jpg);
  overflow: hidden;
}

footer .row section{
  padding:0;
  height: 112px;
}

footer .row section ul{
  text-align: right;
  margin:0;
  padding:0 12px;
  height: 112px;
  border-right: 1px solid var(--text-white);
}

footer .row section:nth-child(4) ul{
  position: relative;
  animation:updown 1.8s ease-in-out Infinite Alternate; 
}

@keyframes updown {
  0% { height: 60px; }
  to { height: 160px; } 
}

footer .row section:nth-child(4) i{
  position:absolute;
  bottom:-10px;
  right:-10px;
  color: orange;
  transform: rotateX(180deg);
}

footer .row section ul li{  
list-style: none;
padding: 3px 0;
font-size: 15px;
color:var(--text-white);
}

footer .row section ul li a{  
  color:var(--text-white);
  }

footer .row section ul li:hover{
  color:white;
  cursor: pointer;
  text-shadow: 0 0 1vh white, 0 0 2vh white, 0 0 5vh white, 0 0 7vh lemonchiffon, 0 0 9vh lemonchiffon, 0 0 11vh lemonchiffon;
} 

.spiderWeb{
  position: absolute;
  bottom:-50px;
  right:-70px;
  width:280px;
  background-color: transparent;
  color:gray;
  font-size:25px;
  font-weight: 100;
  transform: rotate(-25deg);
}

.spiderWeb img{
  width:100%;
  filter: invert(0.5);
  transform: rotateY(180deg) rotateX(180deg);
}

.spiderWeb span{
  position: absolute;
  top:30px;
  left:75px;
  text-align:center;
  transform: perspective(200px) rotateX(-25deg);
  font-family: 'Snowburst One', cursive;
}


footer .row p{
  margin:120px 0 10px 0px;
  color:rgba(255, 255, 255, 0.7);
  text-align: center;
} 

@media screen and (max-width:1580px){

  .movePoint{
    top:-11vh;
}
}

@media screen and (max-width:991px){

  #landPage{
    padding:0;
  }

  .cube{
    transform: translateZ(-25vw) rotateY(-90deg);
  }

  .front  { transform: rotateY(0deg) translateZ(25vw); }
  .left   { transform: rotateY(-90deg) translateZ(25vw); }
  .back   { transform: rotateY(-180deg) translateZ(25vw); }
  .right  { transform: rotateY(-270deg) translateZ(25vw);  }

  #landPage section button{
    width:49%;
    text-align: left;
    padding-left:30px;
  }
}

@media screen and (max-width:767px){

  nav{
    flex-direction: column;
    align-items: flex-start;
  }

  .navSecondul{
    flex-direction: column;
    align-self:flex-end;
    align-items:flex-end;
    text-align: right;    
    display: none;
  }

  .navClosebtn{
    margin-right:10px;
  }

  .togglebtn{
    display:block;
  }

  .navSecondul.active{
    display: flex;
    margin:0;
  }

  #landPage section .cube>div span h2 div{
    font-size:1.5vw;
  }
}

@media screen and (max-width:480px){

  .cube>div span h2{
    font-size:4.8vw;
  }

  #resume{
    font-size:2.3vw;
  }

  .cube>div span h5{
    font-size:4.3vw;
  }

  #landPage section .cube>div span h2 div{
    font-size:2vw;
  }

}