/* #loading {
    width: 100%;   
    height: 100%;   
    top: 0px;
    left: 0px;
    position: fixed;   
    display: block; 
    background-color: white;
    z-index: 99; 
}  
    
#loading-image {   
    position: absolute;
    top: 30%;   
    left:50%;
    transform: translateX(-50%);
    width:10%;
    height:100px;
    width:100px;
    border:2px solid navy;
    border-radius: 100%;
    z-index: 100; 
    animation:ball 0.9s ease-in Infinite Alternate; 
} 

.loading_text{
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    font-size: 25px;
    color:rgb(1, 1, 138);
    font-family: 'Source Sans Pro', sans-serif;
}

@keyframes ball {
    0% {
      top:30%;
      box-shadow: 0 25vh 10px -15px lightgray;
    }
    95% {
      width: 100px;
    }
    to {
      top:55%;
      width:130px;
      height:80px;
      box-shadow: 0 2vh 1px dimgray;
    } 
  } */

:root{
    --text-black: rgb(70, 75, 80);
    --text-white: rgba(255, 255, 255, 0.8);
    /* --text-navy : rgb(38, 55, 74); */
    /* --text-orange:rgb(255, 193, 7); */
}

*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
   /* overflow-y:scroll; */
}



#wrapper{
  overflow-x: hidden;
}

/* main{
  position: relative;
  top:200px;
} */


#mouseFollower{
  position: absolute;
  top:0px;
  left:0px;
  color:aquamarine;
  z-index:20;
  /* transition: all 0.3s; */
  visibility: collapse;
}

nav{
  position: fixed;
  top:0;
  width:100%;
  /* z-index: 1; */
  display:flex; 
  /* background-color: black; */
  justify-content: space-between;
  z-index:10;
}

.navColor1{
  /* background: linear-gradient(to right, rgb(51, 51, 153),rgb(65, 105, 225), rgb(51, 51, 153)); */
  /* background-color: rgb(56, 56, 110); */
  /* background-color: rgb(100, 100, 200); */
  background-color: lightskyblue;
  /* color:var(--text-black); */
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid black; */

  /* background-color:var(--back-navy); */
  /* opacity: 0.9; */
  /* border-bottom: 3px solid black; */
}

.navColor2{
  /* background-color:rgb(108, 117, 125); */
  background-color:hsl(210, 11%, 71%);
}

nav>ul{
  display:flex;
  justify-items: left;
  /* border:1px solid white; */
  list-style: none;
  margin:0;
  margin-right: 30px;
}


nav>ul li{
  margin: 5px 10px;;
  padding:5px 5px;
  font-size: 18px;
  transition: transform 0.5s ease;
  /* background-color: black; */
  /* border-radius: 15px; */
  /* color:var(--text-white); */
  color:white;
}

.navSecondul li{
  background-color: black;
  border-radius: 10px;
}

nav>ul li:hover{
  transform: scale(1.2);
  cursor: pointer;
}


/* nav>ul li i{
  border:1px solid red;
} */

/* nav:hover{
  background-color: rgba(1, 1, 55, 0.7);
  font-size:20px;
} */

.togglebtn{
  position:absolute;
  display:none;
  right:20px;
  top:8px;
  font-size: 22px;
}

/* landPage ==================================== */
#landPage{
  /* margin-top:150px; */
  padding:0;
  padding-right:4%;
  /* padding-bottom:100px; */
  background-color: black;
  /* border:1px solid black; */
}

#landPage section{
  padding: 0;
  /* border:1px solid black; */
  /* background-color: white; */
  /* border:1px solid rgb(255, 224, 160);
  background-color: brgb(255, 224, 160); */
  /* border:1px solid white;
  background-color: white; */
  /* rgb(255, 224, 160) */
  /* display: flex; */
  /* flex-direction: column; */
  /* border:1px solid white; */
}

#landPage section>div{   /* 프레임 */
  position:relative;
  margin:0;
  height:50vh;
  /* border:1px solid black; */
  perspective: 1000px;
}

.cube{  /* 큐브 */
  margin:0;
  width:100%;
  height:100%;
  position:relative;
  /* animation: spinning 10s infinite; */
  transform: translateZ(-20vw) rotateY(-90deg);
  transform-style:preserve-3d;
  transition: all 1s ease-in-out;
}

/* #landPage section:nth-child(2) .cube{
  transform: translateZ(-20vw) rotateY(90deg);
}

#landPage section:nth-child(5) .cube{
  transform: translateZ(-20vw) rotateY(90deg);
} */

.cube>div{  /* 큐브의 한 면*/
  position:absolute;
  top:0;
  left:0;
  /* padding:0; */
  margin:0;
  width:100%;
  height:100%;
  transition: all 0.5s ease-in-out;
  backface-visibility:hidden;
  
}

.cube>div:hover img{ 
  filter:brightness(0.6);
  cursor:pointer;
  
  /* border:1px solid white; */
  /* color:red; */
}

.cube img{
  width:100%;
  height:100%;
}

/* @keyframes spinning {
  from  { transform: translateZ(-16.5vw) rotateY(0deg);   }
  to    { transform: translateZ(-16.5vw) rotateY(360deg); }
} */

.front  { transform: rotateY(0deg) translateZ(20vw); }
.left   { transform: rotateY(-90deg) translateZ(20vw); }
.left  img { filter:invert(1); }
.back   { transform: rotateY(-180deg) translateZ(20vw); }
.right  { transform: rotateY(-270deg) translateZ(20vw);  }

/* 
.front:hover  { transform: rotateY(-15deg) translateZ(20vw); }
.front:hover +.right  { transform: rotateY(-285deg) translateZ(20vw); }

.right:hover  { transform: rotateY(-285deg) translateZ(20vw);  }
.right:hover +.back  { transform: rotateY(-195deg) translateZ(20vw);  }

.back:hover   { transform: rotateY(-195deg) translateZ(20vw); }
.back:hover  +.left  { transform: rotateY(-105deg) translateZ(20vw);  }

.left:hover   { transform: rotateY(-105deg) translateZ(20vw); }
.left:hover +.front   { transform: rotateY(-15deg) translateZ(20vw); } */

.cube>div span{
  position:absolute;
  /* color: rgb(230, 242, 255); */
  color:rgb(245, 245, 245);
  padding:0 5px;
  font-family:cursive;
  /* border:1px solid white; */
}

.cube>div:nth-child(2) span, .cube>div:nth-child(4) span{
  /* color:black; */
  background-color: black;
  width:100%;
}

#landPage section:nth-child(1) .cube>div span{
  text-align: right;
  right:0;
  bottom:0;
} 

#landPage section:nth-child(2) .cube>div span{
  text-align: left;
  left:0;
  bottom:0;
} 

#landPage section:nth-child(4) .cube>div span{
  text-align: right;
  right:0;
  top:0;
} 

#landPage section:nth-child(5) .cube>div span{
  text-align: left;
  left:0;
  top:0;
  /* border:1px solid white; */
} 

#resume{
  background-color: orange;
  padding:3px 10px;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
  color:black;
  /* margin-bottom:5px; */
  /* border:1px solid white; */
  vertical-align:middle;
}

#resume:hover{
  transform: scale(1.5);
  color:white;
}


#landPage section:nth-child(5) span{
  
  font-size:16px;
}

#landPage section button{
  color: rgb(51, 133, 255);
  border:none;
  padding:15px 0 ;
  text-align: right;
  background-color: transparent;
  width:100%;
} 

#landPage section button:hover{
  filter:brightness(0.7);
}

#landPage section i{
  color:orange;
}

/* chartPage =================================================== */
#chartPage{
  /* margin-top:150px; */
  display: flex;
  justify-content: center;
  background-color: rgb(248, 249, 250);
  padding: 200px 20px;
  color:var(--text-black);
  text-align: center;
  /* border-top:3px solid black; */
  /* border-bottom:3px solid black; */
}

#chartPage section div{
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 5px 5px 10px gray;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* color:blue; */
  /* vertical-align:bottom; */
}

#chartPage section div:nth-child(1){
  font-size: 20px;
  
}

#chartPage section i{
  color:rgb(180, 180, 180);
  /* border:1px solid red; */
  margin-top:5px;
}

#chartPage p{
  /* color:red; */
  margin-top: 30px;
  font-size: 20px;
  padding:0 5px;
  /* border: 1px solid black; */
}

#chartPage p span{
  font-size: 14px;
  
}
  
#chartPage section div div{
  border-radius: 0;
  box-shadow: none;
  /* border:1px solid red; */
  width:47%;
  margin:0;
  /* padding:15px; */
}

#chartPage section:last-child div {
  position:relative;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

/* #chartPage section:last-child div div {
  width:95vw;
  border:1px soild red;
} */

#chartPage section:last-child p{
  position:relative;
  width:32px;
  height:32px;
  margin:12px 27px;
  padding:0;
  /* border: 2px solid black; */
  /* animation:backandforth 5s Infinite Alternate;  */
}

#chartPage section:last-child img{
  transition: all 0.5s ;
  width: 100%;
  height: 100%;;
}
#chartPage section:last-child img:hover{
transform: scale(1.8);
}

#chartPage section:last-child img:hover +span{
  visibility: visible;
  }

#chartPage section:last-child p span{
  position:absolute;
  width:75px;
  height:38px;
  /* border:1px solid red; */
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding:2px;
  color:white;
  font-size: 12px;
  transform:translateX(-35%) translateY(-138%); 
  visibility: hidden;
  transition: all 0.5s ;
  text-align: center;
}

#chartPage section:last-child p span:after {
  border-top:10px solid rgba(0, 0, 0, 0.6);
  border-left: 10px solid transparent;
  content:"";
  position:absolute;
  top:38px;
  left:5px;
} 

/* webPages =================================================== */
#webPages {
  /* margin-top:100px; */
  /* height:910px; */
  /* background:linear-gradient(black, rgb(51, 51, 153)); */
  /* background:linear-gradient(black, purple); */
  background-image: url('../index_img/blackcircle.jpg');
  background-position: left 1% top 50%;
  /* background-image: url('../index_img/blackstar.jpg'); */
  padding:200px 5vw;
  /* padding-bottom: 150px; */
  display: flex;
  justify-content: center;
  border-top:3px black solid;
  border-bottom:3px black solid;
  transition: all 5s;
  text-align: center;
  
}

#webPages section{
  position: relative;
  /* border:1px solid white; */
  display: flex;
  justify-content: center;
}

#webPages section button {
  padding: 0 15px;
  padding-bottom: 20px;
  border: none;
  background-color: transparent;
  color:var(--text-white);
  /* color:red; */
  font-size: 18px;;
  /* display: inline-block; */
}

#webPages section button:hover {
  color:white;
  text-shadow: 0 0 1vh white, 0 0 2vh white, 0 0 5vh white, 0 0 7vh lemonchiffon, 0 0 9vh lemonchiffon, 0 0 11vh lemonchiffon;
}

#webPages section>div{  /* 프레임 */
  
  /* background-color: rgba(255, 255, 255, 0.2); */
  border:1px solid var(--text-white);
  /* border:2px solid red; */
  padding:0;
  /* padding-top:2%; */
  margin: 10px 0;
  border-radius: 10px;

  height:230px;
  width:330px;
  overflow: hidden;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-color: rgba(0, 0, , 0.8); */
  /* backdrop-filter: blur(8px); */
  /* transform: perspective(200px) translateZ(-100px); */
  /* width:90%; */
}

#webPages section>div>div{
  /* border:1px solid white; */
  padding:0;
  margin-top:-168px;  
  transition: all 0.8s;
  /* /////////////////////////////////////////////////////////////// */
}

#webPages section>div>div img{
  margin-top:10px;
  width: 94%;
  /* transition: filter 1s, margin-top 1s; */
  /* margin-top:-50%; */
  transition: all 0.5s;
}

#webPages section img:hover{
  /* transform:scale(1.5); */
  /* filter:grayscale(0); */
  /* filter:brightness(0.5); */
  filter:brightness(0.5);
}

#webPages section>div>div p{
  font-size: 18px;
  color:rgba(255, 255, 255, 0.6);
  text-align: center;
  /* border:1px solid white; */
  margin: 3px 0;
  margin-top:10px;
}

#webPages section>div>div p span{
  font-size: 14px;
}

#webPages section div>div h6{
  text-align: left;
  color:orange;
  padding-left: 20px;
}

#webPages section>div>div ul{
  margin:0;
  padding:0;
}   

#webPages section>div>div ul li{
  /* margin:0; */
  color:rgba(255, 255, 255, 0.7);
  list-style:disc;
  font-size: 14px;
  /* border:1px solid black; */
}  

#webPages section>div i{
  position: absolute;
  padding:10px;
  right:-6px;
  bottom:-7px;
  font-size: 18px;
  /* border:1px solid white; */
  padding:15px;
  color:rgba(255, 255, 255, 0.6);
}

#webPages section>div i:hover{
  color:rgb(255, 255, 255);
  cursor: pointer;
}

#webPages section>p{
  color:var(--text-white);
  margin-top:10px;
  font-size:13px;

}


/* summaryWheel 1st ==================================== */
#summaryWheel{
  /* background-color:rgba(245, 245, 250, 0.9); */
  /* background-color: rgb(248, 249, 250); */
  /* margin-top:150px; */
  /* border-top:3px solid black; */
  /* border-bottom:3px solid black; */
  padding: 200px 50px 40px 50px;
  
}

#summaryWheel section{
  /* border:1px solid blue; */
  /* padding-right:15px; */
  /* border:1px solid red; */
  /* transition: all 1s; */
  /* overflow: hidden; */
 /* margin:0; */
  /* padding:200px 0; */
}

#summaryWheel section:nth-child(1){
  /* border:1px solid red; */
   padding:100px 0;
   margin-top:40px;

}



#summaryWheel section:nth-child(2){
  padding:20px 40px 50px 40px;
  /* border:1px solid green; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  color:var(--text-black);
  /* margin-bottom: 20px;; */
  /* text-align: left; */
  /* background-color:rgba(0, 0, 0, 0.2); */
}

#summaryWheel section div{
  /* border:1px solid red; */
  /* margin:0; */
 
  /* border:1px solid red; */
}


#summaryWheel section:nth-child(2) h1{
  /* border:1px solid red; */
  /* text-align: left; */
  /* font-weight: bolder; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* color:var(--text-black); */
  /* color:gray; */
}

#summaryWheel section:nth-child(2) h6{
  /* text-align: left; */
  /* color:rgb(70, 75, 80); */
}

.cards{
  position: absolute;
  top:-46%;
  left:50%;
  transform-origin: 50% 240%;
  color:white;
  transform: translateX(-50%) rotate(0deg);
  background-color: rgba(0, 0, 0, 0.4);
  width:28%;
  height:40%;
  /* overflow: hidden; */
  border-radius: 5px;
  transition: transform 1.5s;
  border:none;
  opacity: 0.5;
  /* font-size: 2vw; */
}

.cards:hover{
  color:black;
  opacity: 0.7;
}

.dial{
  position:relative;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%); 
  /* transform: translateY(-50%); */
  /* margin:150px 0; */
  width:170px;
  height:170px;
  border-radius: 100%;
  background-color: white;
   text-align: center;
  /* color:#6610f2; */
  border:1px solid lightgray;
  /* margin-top:50px; */
}

.dial span{
  position:absolute;
  top:50%;
  left:50%;
  /* transform: translateX(-50%) translateY(-50%); */
  font-size: 20px;
  font-weight: bolder;
  padding:10px 20px;;
  transform: translateX(-50%) translateY(-50%) perspective(100px) rotateY(-30deg);
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.5s;
  /* box-shadow: 0px 5px 10px gray; */
  border-radius: 5px;
  /* color:transparent; */
  color:white;
  opacity: 0.5;
  /* border: 2px solid rgb(128, 128, 128, 0.5); */
}

.dial span:hover{
  color:black;
  opacity: 0.7;
  cursor: pointer;
}

#summaryWheel i{
  /* color:rgb(51, 51, 153); */
  /* border:2px solid black; */
  font-size:18px;
  color: silver;
}

#summaryWheel form{
  /* border:1px solid red; */
 
}

.form-group{
  /* text-align:left; */
  padding:10px 0;
  /* border:1px solid blue; */
}

.form-control{
  margin-bottom: 10px;
}

.form-group label{
  
  /* border:1px solid blue; */
}

#summaryWheel form button{

  position: absolute;
  right:60px;;
  color:white;
}

/* summaryCards ==================================== */
#summaryCards{
  /* background-color: rgb(248, 249, 250); */
  /* border:1px solid black; */
  /* margin-top:-60px; */
  padding:0 50px 100px 50px;
  /* padding-top: 100px; */
  transform-style: preserve-3d;
  /* transform: perspective(2000px) rotateY(90deg); */
  transform: perspective(750px) rotateY(180deg);
  transition: all 1.5s ease;
  /* margin: 0; */
  /* margin: 0; */
}

#summaryCards section{
  /* margin: 0; */
  /* padding:0;   */
  /* border:1px solid blue; */
}

#summaryCards h5{
  padding:8px 8px;
  border-radius: 5px;
  text-align:right;
  transition: all 1.5s ease;
  background-color: rgba(0, 0, 0, 0.2);
  /* transform: perspective(1000px) rotateY(-72deg); */
  transform: perspective(750px) rotateY(-180deg);
  margin-bottom:15px;;
  /* box-shadow: 5px 5px 10px gray; */
  /* border: 1px solid red; */
  margin: 0;
}

#summaryCards h5 span{
  width:110px;
}

/* top button================================= */
.gototop{
  position: fixed;
  right:10px;
  bottom:15px;
  background: transparent;
  border-radius: 3px;
  padding:3px;
  border:2px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

























/* footer  ==================================== */
footer .row{
  /* margin:0; */
  margin-top:80px;
  padding:60px 50px 20px 50px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.7);
  background: url(../index_img/blackcircle.jpg);
  /* border-top:3px solid black; */
}

footer .row section{
  /* border:1px solid blue; */
  /* background-color: greenyellow; */
  /* padding:0; */
  border-right: 1px solid rgb(255, 255, 255);
}

footer .row section ul{
  text-align: right;
  /* border:1px solid red; */
  margin:0;
}

footer .row section ul li{  
list-style: none;
padding: 3px 0;
font-size: 15px;
color:var(--text-white);
}

footer .row section ul li:hover{
  color:rgba(255, 255, 255, 1);
}  


footer .row section ul li:hover{
  color:white;
  text-shadow: 0 0 1vh white, 0 0 2vh white, 0 0 5vh white, 0 0 7vh lemonchiffon, 0 0 9vh lemonchiffon, 0 0 11vh lemonchiffon;
}  

footer .row p{
  margin:120px 0 10px 0px;
  color:rgba(255, 255, 255, 0.5);
  text-align: center;
}  




















@media screen and (max-width:992px){

  #landPage section button{
    width:49%;
    text-align: left;
    padding-left:30px;
  }

  /* .navSecondul li{
    color:gray;
  } */

}

@media screen and (max-width:768px){

  nav{
    flex-direction: column;
    align-items: flex-start;
    /* padding: 1vh 3vw; */
  }

  .navSecondul{
    /* flex-direction: column; */
    align-self:flex-end;
    align-items:flex-end;
    text-align: right;
    /* border:1px solid red; */
    
    display: none;
    /* width:100%; */
  }

  /* nav ul:last-child li{ */
    /* color:yellow; */
    /* border:1px solid blue; */
  /* } */

  .togglebtn{
    display:block;
    color:gray;
  }

  .navSecondul.active{
    display: flex;
    margin:0;
  } 




  #summaryWheel h5{
    /* text-align: left; */
    /* background-color: coral; */
  }

  /* #landPage section{
    flex-direction: row;
  } */

}